:root{
    --title-color: #01996D;
    --secondary-title-color: #000;
    --main-background-color:#FFF; 
    --secondary-background-color:#245852;
    --text-color:#424242;
}

body{
    color: var(--text-color);
    background-color: var(--main-background-color);
}

.section.kayla{
    background-color: var(--secondary-background-color);
    color: var(--main-background-color);
}
