:root{
    --title-color: #01996D;
    --secondary-title-color: #000;
    --main-background-color:#FFF; 
    --secondary-background-color:#245852;
    --text-color:#424242;
}

/* Загальні стилі сайту */

body{
    color: var(--text-color);
    background-color: var(--main-background-color);
}

ul,
a{
    list-style: none;
    text-decoration: none;
}

.title{
    color: var(--title-color);
}

/* Шапка сайту */
/* Основний контент */
/* Секція герой */
/* How it works */
/* Секція kayla */
.kayla.section{
    background-color: var(--secondary-background-color);
    color: var(--main-background-color);
}

.kayla .title{
    color: var(--main-background-color);
}

/* Футер */
footer{
    color: var(--main-background-color);
    background-color: var(--secondary-background-color);
}

footer a{
    color: var(--main-background-color);
}








